{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for image in product.productimage_set.all %}
                    <div class="product-image-item">
                        <img src="{{ image.image.url }}" alt="{{ product.name }}" class="img-rounded">
                    </div>
                {% endfor %}
            </div>

            <div class="col-lg-6">
                <h1 class="text-center">
                    {{ product.name }}
                </h1>

                <div>
                    <p>Price: {{ product.price }}</p>
                </div>

                <div class="tabbable-panel">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#description" data-toggle="tab">
                                    Tab 1
                                </a>
                            </li>
                            <li>
                                <a href="#delivery" data-toggle="tab">
                                    Tab 2
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content one-product-content-text">
                            <div class="tab-pane active" id="description">
                                <p>
                                    {{ product.description }}
                                </p>
                            </div>
                            <div class="tab-pane" id="delivery">
                                <p>
                                <h3>Delivery - it`s Simple and Fast! </h3>
                                <p>How to get your order:</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque
                                    beatae
                                    cum iste maiores neque nesciunt obcaecati odio optio, perspiciatis
                                    praesentium
                                    rerum sequi unde veritatis vitae. Autem cum non veritatis!</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <form action="{% url 'basket_adding' %}" id="form_ordering_product" class="form-inline">
                        {% csrf_token %}
                        <input type="number" class="form-control" value="1" id="number">
                        <button type="submit" class="btn btn-success" id="submit_btn"
                                data-product-id='{{ product.id }}'
                                data-product-name='{{ product.name }}'
                                data-product-price='{{ product.price }}'>Add to Cart
                        </button>
                    </form>

                </div>

            </div>
        </div>
    </div>

{% endblock %}