html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
}

.top-container{
    padding-top: 10%;
}

.general-container{
    background: url('../img/bg_image.jpg');
    height: 100%;
}

.general-container form{
    margin-top: 30px;
}

.general-container form label{
    font-weight: 100;
    color: white;
}

.btn-orange{
    background-color: #e8643e;
    border: none;
}

.btn-orange:hover{
    background-color: #dc5129;
    border: none;
}

.title{
    text-align: center;
    color: white;
    font-weight: 100;
    line-height: 50px;
}