{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-center">Товары в корзине</h3>
                <h5 class="text-center">Общая стоимость: {{ request.session.basket.total_amount }} грн </h5>
                        {{ request.session.basket.products }}
                <ul>
                    {% for product in request.session.basket.products %}
                        <li>
                            {{ product.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}