{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    {#    <link rel="preconnect" href="https://fonts.googleapis.com">#}
    {#    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>#}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/landing.css' %}">

    <title>Document</title>
</head>
<body>

<div class="general-container">
    <div class="container top-container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="text-center glow">Our store will be opened soon</h2>
                <h3 class="text-center glow2">Write down your email below<br>and we will notice you</h3>
                <div>
                    <form action="" method="post" class="form-inline text-center">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="glow-label" for="">Your Email: </label>
                            <input type="email" name="{{ form.email.email }}" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="glow-label" for="">Your Name: </label>
                            <input type="text" name="{{ form.name.name }}" class="form-control last-field">

                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>